*{padding:0; margin:0;}

body{
	font-family:Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
}

.container{
	min-height:200px;
	padding:10px;
}

.map{
	margin-bottom:10px;
	border:1px solid #000;
}

.map{
	min-height:100px;
}

.timeslider{
	margin:10px auto 50px auto;
	width:95%;
}

.timeslider2{
	margin-top:100px;
}

.handle{
	height:30px;
	width:15px;
}

.eventHolder{
	min-height:20px;
	width:95%;
	margin:0 auto 5px auto;
	position:relative;
}

.event{
	min-height:20px;
	font-size:.9em;
}

.eventStatLine{
	height:3px;
	margin-bottom:3px;
}

.black{
	background:#000;
}

.red{
	background:red;
}

#mpf{
	margin-left: 15.384615385%;
}

#cwa{
	margin-left: 32%;
}

#cadrought .eventStatLine{
	margin-left: 92%;
}

#cadrought{
	text-align:right;
}


@media screen and (min-width:1024px){
	
	.container{
		width:960px;
		margin:0 auto;
	}
	
}

@media screen and (min-width:1500px){
	
	.container{
		width:1200px;
	}
	
}

@media screen and (min-width:2000px){
	
	.container{
		width:1800px;
	}
	
}
