*{padding:0; margin:0;}

body{
	font-family:Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
}

.container{
	min-height:200px;
	padding:10px;
}

.map{
	min-height:100px;
}

.dataBars,
.timeslider,
.eventHolder{
  width:95%;
}

.dataBars{
  height:50px;
  margin:10px auto;
  display: flex;
  flex-direction:row;
  position:relative;
}

.dataBar{
  background:lime;
  height:100%;
  width:2%;
  margin-right:10px;
  position:absolute;
  outline: 1px solid transparent;
}

#bar-1950{
  left:-.8%;
}

#bar-1955{
  left:6.7%;
}

#bar-1960{
  left:14.5%;
}

#bar-1965{
  left:22.1%;
}

#bar-1970{
  left:29.8%;
}

#bar-1975{
  left:37.4%;
}

#bar-1980{
  left:45.1%;
}

#bar-1985{
  left:52.8%;
}

#bar-1990{
  left:60.5%;
}

#bar-1995{
  left:68.1%;
}

#bar-2000{
  left:75.8%;
}

#bar-2005{
  left:83.5%;
}

#bar-2010{
  left:91.2%;
}

.tooltipsy
{
    padding: 10px;
    max-width: 200px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    opacity: 0.85;
}

.timeslider{
	margin:10px auto 50px auto;
}

.eventHolder{
	min-height:20px;
	width:95%;
	margin:0 auto 5px auto;
	position:relative;
}

.event{
	min-height:20px;
	font-size:.9em;
}

.eventStatLine{
	height:3px;
	margin-bottom:3px;
}

.black{
	background:#000;
}

.red{
	background:red;
}

#mpf{
	margin-left: 15.384615385%;
}

#cwa{
	margin-left: 32%;
}

#cadrought .eventStatLine{
	margin-left: 92%;
}

#cadrought{
	text-align:right;
}

@media screen and (min-width:768px){
  .dataBars{
    height:90px;
  }
}


@media screen and (min-width:1024px){

	.container{
		width:960px;
		margin:0 auto;
	}

}

@media screen and (min-width:1500px){

	.container{
		width:1200px;
	}

}

@media screen and (min-width:2000px){

	.container{
		width:1800px;
	}

}
