line, polyline, path{
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10.00;
}

.map-background {
  fill:white;
  stroke:none;
}
.state-background {
  fill:#f1f1f1;
  stroke:#bdbdbd;
  stroke-width:0.2;
}
.state-foreground {
  fill:lightgreen;
  stroke:none;
}
.legend-title-text{
  fill:#666666;
  stroke:none;
  text-anchor:middle;
  font-size: 0.75em;
}
.nodata {
  fill:url(#nodata);
}
.nodata-lines{
  stroke:#8b8b8b; 
  stroke-width:1;
}

.nodata-fill{
  fill:#b9b9b9;
  stroke:none;
}


.cat-button-text {
  fill:black;
  stroke:none;
  text-anchor:middle;
  font-size: 0.8em;
}
.hidden {
  opacity: 0;
}
.shown {
  opacity: 1;
}
.tooltip-box{
  stroke: none;
  opacity: 0.85;
  fill: white;
}
.svg-text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	cursor: default;
}
    
.cat-button {
  fill:#e5e5e5;
  stroke:#262626;
  stroke-width: 0.0;
  cursor:pointer;
}

.cat-button:hover {
  fill:#404040;
  stroke-width: 0.5;
  stroke-opacity:1;
}

.Thermoelectric-button {
  fill:#EFBA5A;
}
.Public_Supply-button {
  fill:#857EB0;
}
.Industrial-button{
  fill:#A38775;
}
.Irrigation-button{
  fill:#61B4A9;
}

.Total-button{
  fill:#92C5EA;
}
