line, polyline, path{
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10.00;
}

.map-background {
  fill:#3f3f3f;
  stroke:none;
}
.state-background {
  fill:#f1f1f1;
  stroke:white;
  stroke-width:2;
}
.state-foreground {
  fill:lightgreen;
  stroke:none;
}

.hidden {
  opacity: 0;
}
.shown {
  opacity: 1;
}
.tooltip-box{
  stroke-width: 1;
  stroke: grey;
  opacity: 0.9;
  fill: #E8E8E8;
}
.svg-text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	cursor: default;
}
    
.disabled-button {
  fill:black;
  stroke:none;
  opacity:0.4;
}

.enabled-button {
  fill:white;
  stroke:none;
  opacity:0;
}

.Thermoelectric-button {
  fill:red;
}
.Public_Supply-button {
  fill:green;
}
.Industrial-button{
  fill:blue;
}
.Irrigation-button{
  fill:lightblue;
}

.Total-button{
  fill:lightgreen;
}
