<footer>
    <div class="footerContentAligner">
    <a class="hotfix" href="https://github.com/USGS-VIZLAB/water-use" target="_blank" onclick="ga('send', 'event', 'outbound', 'clicked on repo')">
      <div id="github-link">
      	<img src="images/github.svg" alt="github icon"/>
    	  <p>The code used here is available on github</p>
      </div>
     </a>
    <div id="relatedVizzies">
    	<h3>Related Visualizations:</h3>
    	
    		<a href="https://www.doi.gov/water/owdi.cr.drought" target="_blank">
    			<div class="relatedItem">
    			  <div class="titleHandler">
    				  <h4>OWDI Lower Colorado Drought Viz</h4>
    				</div>
    				<div class="footerThumnail">
    					<img src="https://www.doi.gov/water/owdi.cr.drought/img/thumbnail_vizlab.jpg" alt=""/>
    				</div>
    			</div>
    		</a>
    		<a href="https://cida.usgs.gov/ca_drought" target="_blank">
    			<div class="relatedItem">
    			  <div class="titleHandler">
    				  <h4>California drought viz</h4>
    				</div>
    				<div class="footerThumnail">
    					<img src="https://cida.usgs.gov/ca_drought/thumbnail.jpg" alt=""/>
    				</div>
    			</div>
    		</a>
    </div>
    <div id="vizlabPromo">
      <p>This interactive data visualization was created by <strong>USGS VIZLAB</strong></p>
    	<object id="vizlab-logo" type="image/svg+xml" class="svgFig" data="images/atom.svg" title="Vizlab Logo" >Vizlab Logo</object>
    </div>
  </div>

</footer>
