<div class="container">
    
		<div class="map">{{{ map }}}</div>
		<div class="dataBars">
		  {{#bars}}
		  <div id="nodataBar-{{.}}" class="nodataBar" style="opacity:0.0";>
		    <p id="nodata-{{.}}" class="nodataText">no data</p>
		  </div>
		  <div id="bar-{{.}}" class="dataBar hastip">
		  </div>
		  {{/bars}}
		</div>
		<div class="timeslider">
			<div id="slider"></div>
		</div>
	</div>
