<div class="container">
		<div class="map">{{{ map }}}</div>
		<div class="dataBars">
		  {{#bars}}
		  <div id="bar-{{.}}" class="dataBar hastip">
		  </div>
		  {{/bars}}
		</div>
		<div class="timeslider">
			<div id="slider"></div>
		</div>
		<div class="eventHolder">
			<div id="mpf" class="event">
				<div class="eventStatLine black"></div>
				<p>Modernized plumbing fixtures</p>
			</div>
		</div>
		<div class="eventHolder">
			<div id="cwa" class="event">
				<div class="eventStatLine black"></div>
				<p>Clean Water Act, 1972</p>
			</div>
		</div>
		<div class="eventHolder">
			<div id="cadrought" class="event">
				<div class="eventStatLine red"></div>
				<p>California drought, 2009-current</p>
			</div>
		</div>
	</div>
