<div class="container">
		<div class="map">{{{ map }}}</div>
		<div class="dataBars">
		  <div id="bar-1950" class="dataBar">
		  </div>
		  <div id="bar-1955" class="dataBar">
		  </div>
		  <div id="bar-1960" class="dataBar">
		  </div>
		  <div id="bar-1965" class="dataBar">
		  </div>
		  <div id="bar-1970" class="dataBar">
		  </div>
		  <div id="bar-1975" class="dataBar">
		  </div>
		  <div id="bar-1980" class="dataBar">
		  </div>
		  <div id="bar-1985" class="dataBar">
		  </div>
		  <div id="bar-1990" class="dataBar">
		  </div>
		  <div id="bar-1995" class="dataBar">
		  </div>
		  <div id="bar-2000" class="dataBar">
		  </div>
		  <div id="bar-2005" class="dataBar">
		  </div>
		  <div id="bar-2010" class="dataBar">
		  </div>
		</div>
		<div class="timeslider">
			<div id="slider"></div>
		</div>
		<div class="eventHolder">
			<div id="mpf" class="event">
				<div class="eventStatLine black"></div>
				<p>Modernized plumbing fixtures</p>
			</div>
		</div>
		<div class="eventHolder">
			<div id="cwa" class="event">
				<div class="eventStatLine black"></div>
				<p>Clean Water Act, 1972</p>
			</div>
		</div>
		<div class="eventHolder">
			<div id="cadrought" class="event">
				<div class="eventStatLine red"></div>
				<p>California drought, 2009-current</p>
			</div>
		</div>
	</div>
